---
const {title, description, isArticle} = Astro.props;
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{`${title} | Alex Angas`}</title>
<meta property="og:title" content={title}>
<meta name="description" property="og:description" content={description}>
<meta property="og:type" content={isArticle ? "article" : "website"}>
<meta property="og:site_name" content="Alex Angas" />
<meta property="og:locale" content="en_UK" />
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="twitter:creator" content="alexangas">
<meta property="twitter:card" content="summary">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.sass')}>
<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&amp;display=swap" rel="stylesheet"> -->
