---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header/Header.tsx';
const { content } = Astro.props;
---
<html lang="en">
  <BaseHead title={content.title} description={content.description} />
  <body>
    <Header />
    <main>
      <h1>{content.title}</h1>
      <h2>{content.description}</h2>
      <img src={content.image}>
      <article>
        <!-- slot: Markdown content goes here! -->
        <slot />
      </article>
    </main>
  </body>
</html>
